<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>searchbar</ion-title>
  </ion-toolbar>
  
  <ion-searchbar animated
                 (ionChange)="buscar( $event )">
  </ion-searchbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- esto me trae la informacion donde se le pasa el filtro, la palabra que me
       captura y la columna en este caso de 'title' -->
    <ion-item *ngFor="let album of dataAlbum | filtro: textBuscar: 'title'">
      {{ album.title}}
    </ion-item>
  </ion-list>

</ion-content>
