<app-header titulo="Fabs"></app-header>

<ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let i of data; let index = index"> 
      Item {{ index + 1 }}<!--Item es el label {{ lo que necesito que se muestre de la iteraccion}}  -->
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-footer>
