<ion-menu side="start" menuId="firstMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list><!--  | async se coloca porque es un observable -->

      <ion-menu-toggle>
        <ion-item *ngFor="let c of componentes | async"
         [routerLink]="c.redirecTo">
         <ion-icon slot="start" [name]="c.icon"></ion-icon>
         <ion-label>{{ c.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
