<!-- <app-header titulo="Modal Info"></app-header> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Modal Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/icon/leonard.jpg" >
    </ion-avatar>
    <ion-label>Leonard watch</ion-label>
  </ion-item>
  

  <ion-button expand="full" color="primary" (click)="salirSinArgs()">
    Salir sin
  </ion-button>
  <ion-button expand="full" color="secondary" (click)="salirConArgs()">
    Salir con
  </ion-button>

</ion-content>
